<%= f.field_container :name, class: ['align-center'] do %>
  <%= f.label :name, Spree.t(:name, scope: :shipping_matrix) %>
  <span class="required">*</span><br />
  <%= f.text_field :name %>
  <%= f.error_message_on :name %>
<% end %>
